/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

* {
  font-family: "Source Sans Pro", sans-serif; }

.hero__text--heading,
.hero__text--readmore {
  font-weight: 600;
  color: white; }

.hero__text--heading {
  font-size: 2.5rem; }

.hero__text--readmore {
  font-size: 1.25rem; }

main {
  display: flex; }

.hero {
  position: relative;
  width: 760px; }

.hero__image img {
  width: 760px;
  height: 400px; }

.hero__text {
  display: flex;
  position: absolute;
  bottom: 0px; }

.hero__text--paddingleft {
  width: 10px;
  height: 120px;
  display: block;
  background: #12a4a4; }

.hero__text--heading p,
.hero__text--readmore p {
  background: #12a4a4;
  display: inline;
  padding-right: 10px;
  box-decoration-break: clone; }

.hero__text--heading p {
  padding-bottom: 10px; }

.hero__text--heading {
  line-height: 2.8rem; }

.hero__text--readmore p {
  padding-bottom: 3px;
  padding-top: 5px; }

.hero:hover {
  cursor: pointer; }
  .hero:hover .hero__text--heading p,
  .hero:hover .hero__text--readmore p,
  .hero:hover .hero__text--paddingleft {
    background: black;
    display: inline; }
