/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

* {
  font-family: "Source Sans Pro", sans-serif; }

.hero__text--heading,
.hero__text--readmore {
  font-weight: 600;
  color: white; }

.hero__text--heading {
  font-size: 2.5rem; }

.hero__text--readmore {
  font-size: 1.25rem; }

h2 {
  font-weight: 600; }

h3 {
  font-size: 1.25rem;
  color: #098484;
  font-weight: 600; }

h3:hover {
  text-decoration: underline; }

h4 {
  color: #098484;
  font-weight: 600;
  font-size: 0.938rem; }

h4:hover {
  text-decoration: underline; }

a {
  text-decoration: none; }

nav,
main,
.footer__margin,
article,
section {
  width: 1140px;
  margin: 0 auto; }

.topbar {
  margin: 0.7em 0 0em 0;
  display: flex;
  align-items: center; }

.topbar__logo {
  padding-right: 9.5em; }

.topbar__links li {
  border: solid 1px #098484;
  padding: 1px 10px 1px 10px; }

.topbar__links ul {
  display: flex;
  width: 460px;
  justify-content: space-between;
  padding-right: 1.5em; }

.topbar__links a {
  list-style: none;
  color: #414042; }

.topbar__links li:hover {
  list-style: none;
  color: white;
  border: solid 1px black;
  background-color: black; }

.topbar__search {
  display: flex;
  align-items: center; }

.topbar__search--box {
  border: solid 1px #098484;
  padding: 13px;
  width: 220px; }

.topbar__search--btn {
  padding-right: 2.5em; }

.topbar__search--btn a {
  color: white;
  background-color: #098484;
  padding: 4px 10px 4px 10px; }

.topbar__login a {
  color: #414042; }

.bottombar__links ul {
  display: flex;
  justify-content: center;
  padding: 0; }

.bottombar__links a {
  list-style: none;
  color: #414042; }

.bottombar__links--seperator {
  width: 1px;
  background-color: #414042;
  height: 25px;
  margin: 0 12px 0 12px; }

.nav__dropdown {
  width: 100%;
  height: 3px;
  background-color: #098484;
  margin-bottom: 1.2em; }

main {
  display: flex;
  margin-bottom: 1.5em; }

.hero {
  position: relative; }

.hero__image img {
  width: 760px;
  height: 400px; }

.hero__text {
  display: flex;
  position: absolute;
  bottom: 0px; }

.hero__text--paddingleft {
  width: 10px;
  height: 120px;
  display: block;
  background: #12a4a4; }

.hero__text--heading p,
.hero__text--readmore p {
  background: #12a4a4;
  display: inline;
  padding-right: 10px;
  box-decoration-break: clone; }

.hero__text--heading p {
  padding-bottom: 10px; }

.hero__text--heading {
  line-height: 2.8rem; }

.hero__text--readmore p {
  padding-bottom: 3px;
  padding-top: 5px; }

.hero:hover {
  cursor: pointer; }
  .hero:hover .hero__text--heading p,
  .hero:hover .hero__text--readmore p,
  .hero:hover .hero__text--paddingleft {
    background: black;
    display: inline; }

.iwantto {
  background: #12a4a4;
  width: 500px;
  color: white;
  width: 380px;
  padding: 0.7em 0.7em 0 0.7em; }
  .iwantto h2 {
    padding-bottom: 4px; }
  .iwantto .iwantto__tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px; }
    .iwantto .iwantto__tags a {
      color: #098484;
      background: white;
      font-size: 0.875rem;
      white-space: nowrap;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
      border-left: solid 5px white;
      border-right: solid 5px white;
      margin: 3px; }
    .iwantto .iwantto__tags a:hover {
      background: black;
      color: white;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      border-left: solid 5px black;
      border-right: solid 5px black; }
  .iwantto .iwantto__line {
    width: 100%;
    background-color: white;
    height: 1px; }
  .iwantto .iwantto__language {
    display: flex;
    flex-wrap: wrap; }
  .iwantto .iwantto__language a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 0.875rem;
    white-space: nowrap;
    margin: 0.3em 0.3em 0 0.3em;
    border: solid 3px #12a4a4; }
  .iwantto .iwantto__language a:hover {
    background: black;
    color: white;
    border: solid 3px black; }

article {
  display: flex;
  margin-bottom: 2em; }

.news,
.whatson,
.thecouncil {
  width: 365px; }

.news,
.whatson,
.thecouncil {
  display: flex;
  flex-direction: column; }
  .news p,
  .whatson p,
  .thecouncil p {
    color: #414042;
    font-size: 0.938rem; }

.news__underline {
  background: #098484;
  height: 3px;
  width: 25px;
  margin-bottom: 1em; }

.news__flex,
.news__flex2 {
  display: flex; }

.news__flex {
  margin-bottom: 3em; }

.whatson__flex {
  display: flex; }

.whatson__date {
  padding: 0 10px 0 10px;
  line-height: 1.5em; }

.whatson__date--day p {
  font-size: 1.75rem;
  font-weight: 600; }

.whatson__date--month p {
  font-weight: 600;
  text-align: center; }

.article__line {
  width: 100%;
  background-color: #12a4a4;
  height: 1px;
  margin: 0.5em 0 0.5em 0; }

.article__seperator {
  height: 270px;
  width: 1px;
  background-color: black;
  margin: 2em 1em 0 1em;
  opacity: 10%; }

section {
  display: flex;
  gap: 1em;
  margin-bottom: 4.5em; }
  section img {
    width: 368.59px; }

footer {
  background-color: black;
  padding-bottom: 2em; }

footer a {
  color: white; }

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em; }

.footer__contact--direct {
  display: flex;
  width: 500px;
  justify-content: space-between; }

.footer__contact--social {
  display: flex;
  width: 475px;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-right: 3em; }

.footer__contact--btn a {
  font-size: 1.125rem; }

.footer__margin {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column; }

i {
  color: white; }

.footer__seperator {
  width: 1140px;
  height: 1px;
  background-color: white; }

.footer__contact--facebook,
.footer__contact--twitter,
.footer__contact--neighbourly,
.footer__contact--youtube,
.footer__contact--instagram,
.footer__contact--linkedin {
  width: 40px;
  height: 40px;
  border: solid 3px white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  vertical-align: middle; }
