// main
main {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}

.hero {
  position: relative;
}

.hero__text {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.hero__text--paddingleft {
  width: 10px;
  height: 120px;
  display: block;
  background: $teal;
}

.hero__text--heading p,
.hero__text--readmore p {
  background: $teal;
  display: inline;
  padding-right: 10px;
  box-decoration-break: clone;
}

.hero__text--heading p {
  padding-bottom: 10px;
}

.hero__text--heading {
  line-height: 2.8rem;
}

.hero__text--readmore p {
  padding-bottom: 3px;
  padding-top: 5px;
}

.hero:hover {
  cursor: pointer;
  .hero__text--heading p,
  .hero__text--readmore p,
  .hero__text--paddingleft {
    background: black;
    display: inline;
  }
}

.iwantto {
  background: $teal;
  width: 500px;
  height: 500px;
  color: white;
  width: 380px;
  padding: 1em;

  .iwantto__tags {
    a {
      text-decoration: none;
      color: $water;
      background: white;
      font-size: 0.875rem;
    }

    a:hover {
      background: black;
      color: white;
    }
  }

  .iwantto__line {
    width: 100%;
    background-color: white;
    height: 1px;
  }

  .iwantto__language {
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 0.875rem;
    }

    a:hover {
      background: black;
      color: white;
    }
  }
}
