a {
  text-decoration: none;
}

body {
  width: 1140px;
  margin: 0 auto;
}

// nav - topbar
.topbar {
  margin: 0.7em 0 1.5em 0;
  display: flex;
  align-items: center;
}

.topbar__logo {
  padding-right: 9.5em;
}

.topbar__links li {
  border: solid 1px $water;
  padding: 1px 10px 1px 10px;
}

.topbar__links ul {
  display: flex;
  width: 460px;
  justify-content: space-between;
  padding-right: 1.5em;
}

.topbar__links a {
  list-style: none;
  color: black;
}

.topbar__links li:hover {
  list-style: none;
  color: white;
  border: solid 1px black;
  background-color: black;
}

.topbar__search {
  display: flex;
  align-items: center;
}

.topbar__search--box {
  border: solid 1px $water;
  padding: 13px;
  width: 220px;
}

.topbar__search--btn {
  padding-right: 2.5em;
}

.topbar__search--btn a {
  color: white;
  background-color: $water;
  padding: 4px 10px 4px 10px;
}

.topbar__login a {
  color: black;
}

// nav - bottombar

// main
main {
  display: flex;
  margin-bottom: 1.5em;
}

.hero {
  position: relative;
}

.hero__image img {
  width: 760px;
  height: 400px;
}

.hero__text {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.hero__text--paddingleft {
  width: 10px;
  height: 120px;
  display: block;
  background: $teal;
}

.hero__text--heading p,
.hero__text--readmore p {
  background: $teal;
  display: inline;
  padding-right: 10px;
  box-decoration-break: clone;
}

.hero__text--heading p {
  padding-bottom: 10px;
}

.hero__text--heading {
  line-height: 2.8rem;
}

.hero__text--readmore p {
  padding-bottom: 3px;
  padding-top: 5px;
}

.hero:hover {
  cursor: pointer;
  .hero__text--heading p,
  .hero__text--readmore p,
  .hero__text--paddingleft {
    background: black;
    display: inline;
  }
}

.iwantto {
  background: $teal;
  width: 500px;
  color: white;
  width: 380px;
  padding: 0.7em 0.7em 0 0.7em;

  h2 {
    padding-bottom: 4px;
  }

  .iwantto__tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;

    a {
      color: $water;
      background: white;
      font-size: 0.875rem;
      white-space: nowrap;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
      border-left: solid 5px white;
      border-right: solid 5px white;
      margin: 3px;
    }

    a:hover {
      background: black;
      color: white;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      border-left: solid 5px black;
      border-right: solid 5px black;
    }
  }

  .iwantto__line {
    width: 100%;
    background-color: white;
    height: 1px;
  }

  .iwantto__language {
    display: flex;
    flex-wrap: wrap;
  }
  .iwantto__language {
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 0.875rem;
      white-space: nowrap;
      margin: 0.3em 0.3em 0 0.3em;
      border: solid 3px $teal;
    }

    a:hover {
      background: black;
      color: white;
      border: solid 3px black;
    }
  }
}

// article
article {
  display: flex;
  margin-bottom: 2em;
}

.news,
.whatson,
.thecouncil {
  width: 365px;
}

.news,
.whatson,
.thecouncil {
  display: flex;
  flex-direction: column;

  p {
    color: $lightblack;
    font-size: 0.938rem;
  }
}

.news__underline {
  background: $water;
  height: 3px;
  width: 25px;
  margin-bottom: 1em;
}

.news__flex,
.news__flex2 {
  display: flex;
}

.news__flex {
  margin-bottom: 3em;
}

.whatson__flex {
  display: flex;
}

.whatson__date {
  padding: 0 10px 0 10px;
  line-height: 1.5em;
}

.whatson__date--day p {
  font-size: 1.75rem;
  font-weight: 600;
}

.whatson__date--month p {
  font-weight: 600;
  text-align: center;
}

.article__line {
  width: 100%;
  background-color: $teal;
  height: 1px;
  margin: 0.5em 0 0.5em 0;
}

.article__seperator {
  height: 270px;
  width: 1px;
  background-color: black;
  margin: 2em 1em 0 1em;
  opacity: 10%;
}

// section
section {
  display: flex;
  gap: 1em;
  margin-bottom: 4.5em;

  img {
    width: 368.59px;
  }
}
