a {
  text-decoration: none;
}

nav,
main,
.footer__margin,
article,
section {
  width: 1140px;
  margin: 0 auto;
}

// nav - topbar
.topbar {
  margin: 0.7em 0 0em 0;
  display: flex;
  align-items: center;
}

.topbar__logo {
  padding-right: 9.5em;
}

.topbar__links li {
  border: solid 1px $water;
  padding: 1px 10px 1px 10px;
}

.topbar__links ul {
  display: flex;
  width: 460px;
  justify-content: space-between;
  padding-right: 1.5em;
}

.topbar__links a {
  list-style: none;
  color: $lightblack;
}

.topbar__links li:hover {
  list-style: none;
  color: white;
  border: solid 1px black;
  background-color: black;
}

.topbar__search {
  display: flex;
  align-items: center;
}

.topbar__search--box {
  border: solid 1px $water;
  padding-left: 2px;
  width: 220px;
}

.topbar__search--box:focus {
  outline: none;
  border: 1px solid black;
}

.topbar__search--btn {
  padding-right: 2.5em;
}

.topbar__search--btn a {
  &:hover {
    color: white;
    background-color: black;
  }
  color: white;
  background-color: $water;
  padding: 4px 10px 4px 10px;
}

.topbar__login a {
  color: $lightblack;
}

.topbar__login:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

// nav - bottombar
.bottombar__links ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottombar__links a {
  list-style: none;
  color: $lightblack;
}

.bottombar__links a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.bottombar__links--seperator {
  width: 1px;
  background-color: $lightblack;
  height: 25px;
  margin: 0 12px 0 12px;
}

.nav__dropdown--bar {
  width: 100%;
  height: 3px;
  background-color: $water;
}

.nav__dropdown {
  background-color: $water;
  padding: 0.5em 0 0 1em;
}

.nav__dropdown {
  display: none;
}

.show {
  display: block;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.nav__dropdown h3 {
  color: white;
  padding-bottom: 0.5em;
}

.nav__dropdown > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0 0 2em 0;
  margin: 0;
}

.nav__dropdown li {
  color: white;
  padding-bottom: 0.5em;
}

// main
main {
  display: flex;
  margin-bottom: 1.5em;
  padding-top: 1.1em;
}

.hero {
  position: relative;
}

.hero__image img {
  width: 760px;
  height: 400px;
}

.hero__text {
  display: flex;
  position: absolute;
  bottom: 0px;
}

.hero__text--paddingleft {
  width: 10px;
  height: 120px;
  display: block;
  background: $teal;
}

.hero__text--heading p,
.hero__text--readmore p {
  background: $teal;
  display: inline;
  padding-right: 10px;
  box-decoration-break: clone;
}

.hero__text--heading p {
  padding-bottom: 10px;
}

.hero__text--heading {
  line-height: 2.8rem;
}

.hero__text--readmore p {
  padding-bottom: 3px;
  padding-top: 5px;
}

.hero:hover {
  cursor: pointer;
  .hero__text--heading p,
  .hero__text--readmore p,
  .hero__text--paddingleft {
    background: black;
    display: inline;
  }
}

.iwantto {
  background: $teal;
  width: 500px;
  color: white;
  width: 380px;
  padding: 0.7em 0.7em 0 0.7em;

  h2 {
    padding-bottom: 4px;
  }

  .iwantto__tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;

    a {
      color: $water;
      background: white;
      font-size: 0.875rem;
      white-space: nowrap;
      border-top: solid 2px white;
      border-bottom: solid 2px white;
      border-left: solid 5px white;
      border-right: solid 5px white;
      margin: 3px;
    }

    a:hover {
      background: black;
      color: white;
      border-top: solid 2px black;
      border-bottom: solid 2px black;
      border-left: solid 5px black;
      border-right: solid 5px black;
    }
  }

  .iwantto__line {
    width: 100%;
    background-color: white;
    height: 1px;
  }

  .iwantto__language {
    display: flex;
    flex-wrap: wrap;
  }
  .iwantto__language {
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 0.875rem;
      white-space: nowrap;
      margin: 0.3em 0.3em 0 0.3em;
      border: solid 3px $teal;
    }

    a:hover {
      background: black;
      color: white;
      border: solid 3px black;
    }
  }
}

// article
article {
  display: flex;
  margin-bottom: 2em;
}

.news,
.whatson,
.thecouncil {
  width: 365px;
}

.news,
.whatson,
.thecouncil {
  display: flex;
  flex-direction: column;

  p {
    color: $lightblack;
    font-size: 0.938rem;
  }
}

.news__underline {
  background: $water;
  height: 3px;
  width: 25px;
  margin-bottom: 1em;
}

.news__flex,
.news__flex2 {
  display: flex;
}

.news__flex {
  margin-bottom: 3em;
}

.whatson__flex {
  display: flex;
}

.whatson__date {
  padding: 0 10px 0 10px;
  line-height: 1.5em;
}

.whatson__date--day p {
  font-size: 1.75rem;
  font-weight: 600;
}

.whatson__date--month p {
  font-weight: 600;
  text-align: center;
}

.article__line {
  width: 100%;
  background-color: $teal;
  height: 1px;
  margin: 0.5em 0 0.5em 0;
}

.article__seperator {
  height: 270px;
  width: 1px;
  background-color: black;
  margin: 2em 1em 0 1em;
  opacity: 10%;
}

// section
section {
  display: flex;
  gap: 1em;
  margin-bottom: 4.5em;

  img {
    width: 368.59px;
  }
}

// footer
footer {
  background-color: black;
  padding-bottom: 2em;
}

footer a {
  color: white;
}

.footer__margin {
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
}

.footer__contact--direct {
  display: flex;
  width: 550px;
  justify-content: space-between;
  font-size: 1.2rem;
}
.footer__contact--btn {
  :hover {
    background-color: white;
    color: black;
  }
  padding: 0.5em 0 1em 0;
}

.footer__contact--btn a {
  font-size: 1.125rem;
  border: solid 2px white;
  padding: 0.1em 0.3em 0.1em 0.3em;
  border-radius: 0 10px 10px 10px;
}

.footer__contact--phone,
.footer__contact--location,
.footer__contact--email {
  width: 40px;
  height: 40px;
  border: solid 3px white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  font-size: 1.2rem;
}

.footer__contact--flex {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.footer__contact--flex > a:hover,
.footer__second--resume > a:hover,
.footer__second--newsletter > a:hover,
.footer__third > a:not(:first-child):hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.footer__contact--flex > div {
  margin-right: 0.5em;
}

.footer__contact--social {
  display: flex;
  width: 475px;
  justify-content: space-between;
  font-size: 1.2rem;
  padding-right: 3em;
}

i {
  color: white;
}

.footer__contact--facebook,
.footer__contact--twitter,
.footer__contact--neighbourly,
.footer__contact--youtube,
.footer__contact--instagram,
.footer__contact--linkedin {
  width: 40px;
  height: 40px;
  border: solid 3px white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
}

.footer__seperator {
  width: 1140px;
  height: 1px;
  background-color: white;
  margin: 1.3em 0 1.3em 0;
}

.footer__second {
  display: flex;
  justify-content: space-between;
}

.footer__second--resume > a:first-child {
  padding-right: 2em;
}

.footer__third {
  padding-bottom: 0.5em;
}

.footer__third a {
  padding-right: 1.7em;
}

.footer__four {
  display: flex;
  align-items: center;
}

.footer__four a {
  padding-right: 0.5em;
  vertical-align: middle;
}

.footer__four > a {
  padding-right: 2.5em;
}

.footer__four > a:hover,
.footer__languages > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.footer__languages {
  font-size: 0.875rem;
}

.footer__five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  font-size: 0.8rem;
}

.footer__five a > img {
  width: 35px;
  height: 35px;
}

.footer__five > img {
  width: 185px;
}

.footer__five > ul {
  display: flex;
}

.footer__five li {
  :hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
  padding-right: 2.5em;
  list-style: none;
}

.footer__five a:first-child:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}
